<html>

<head>
   <title>CV</title>
   <link rel="stylesheet" type="text/css" href="cv.css">
   </link>
</head>

<body>
   <div class="main">
      <div class="marge">
         <ul>
            <li id="ec">
               {{ context.renderTemplate(  'etatCivil.j2.html', data.etatCivil ) }}
            </li>
         </ul>
         <h1>COMPéTENCES</h1>
         <ul>
            {% for competence in data.competences %}
               {{ context.renderTemplate('connaissance.j2.html', competence ) }}
            {% endfor %}
         </ul>
         <h1>AUTRES CONNAISSANCES</h1>
         <ul>
            {% for connaissance in data.connaissances %}
               {{ context.renderTemplate(  'connaissance.j2.html', connaissance ) }}
            {% endfor %}
         </ul>
         
      </div>
      <div class="content">
         <div class="poste">{{data.poste}}</div>
         <div class="experiences">
            <h1>EXPERIENCES</h1>
            <ul>
                  {% for experience in context.controler.controlExperience(data.experiences) %}
                  <li class="{{experience.typeExperience}}">
                     {{ context.renderTemplate( 'experience.j2.html', experience ) }}
                  </li>
                  {% endfor %}
         
      </div>
      <div class="formations">
         <h1>formations</h1>
      <ul>
         {% for formation in data.formations %}
         <li>
            {{ context.renderTemplate( 'formation.j2.html', formation ) }}
         </li>
         {% endfor %}
      </ul>
      </div>
      <div class="clr"></div>
   </div>
</body>

</html>