<!-- elements : 0-->
<div class="entete">
    <span class="client">{{data.client}}
        <span class="domaine">
            {{data.poste}}
        </span>
    </span>
    <span class="dates">{{data.preformated.dateDebut}} - {{data.preformated.dateFin}} (
        {{data.preformated.dureeEnMois}} mois )</span>
    <div class="clr" />
</div>
<div class="{{data.preformated.depth}}">
    <span class="description">
        <span class="intitule">{{data.intitule}}</span>
        <span class="presentation">{{data.presentation}}</span>
        <span class="environnementTechnique">{{data.environnementTechnique}}</span>
    </span>
</div>
<div class="clr" />