<!-- elements : 0-->
<div class="entete">
    <span class="client">{{data.client}}
        <span class="domaine">
            {% if data.domaine != '' %}
                ({{data.domaine}})
            {% endif %}
        </span>
    </span>

    <span class="dates">
        {% if data.dateDebut != None %}
            du {{data.dateDebut.strftime('%d-%m-%Y')}}
        {% endif %}
        {% if data.dateFin != None %}
            au {{data.dateFin.strftime('%d-%m-%Y')}} 
        {% endif %}
        {% if data.dureeEnMois > 0 %}
            ( {{data.dureeEnMois}} mois )
        {% endif %}
    </span>
    <div class="clr" />
</div>
<div class="{{data.depthAsCssClass}}">
    <span class="description">
    {% if data.typeExperience != 'group' %}
        <span class="intitule">{{data.intitule}}</span>
        <span class="presentation">{{data.presentation}}</span>
        <span class="environnementTechnique">{{data.environnementTechnique}}</span>
    {% endif %}

    {% if data.subExperiences | length > 0 %}
    <ul>
        {% for experience in data.subExperiences %}
        <li class="{{experience.typeExperience}}">
        {{ context.renderTemplate( 'experience.j2.html', experience ) }}
        </li>
        {% endfor %}
    </ul>
    {%endif%}
    </span>
</div>


<div class="clr" />