<w:p 
    {# w14:paraId="3F995782" #}
    w14:textId="77777777" 
    w:rsidR="00DC6E60" 
    {# w:rsidRPr="004274B3" #}
    w:rsidRDefault="00DC6E60" w:rsidP="00DC6E60">
    <w:pPr>
        <w:numPr>
            <w:ilvl w:val="0"/>
            <w:numId w:val="2"/>
        </w:numPr>
        <w:spacing w:after="0" w:line="276" w:lineRule="auto"/>
        <w:rPr>
            <w:rFonts w:ascii="Open Sans" w:hAnsi="Open Sans" w:cs="Open Sans"/>
        </w:rPr>
    </w:pPr>
    <w:proofErr w:type="gramStart"/>
    <w:r>
        <w:rPr>
            <w:rFonts w:ascii="Open Sans" w:hAnsi="Open Sans" w:cs="Open Sans"/>
        </w:rPr>
        <w:t>{{data}}</w:t>
    </w:r>
    <w:proofErr w:type="gramEnd"/>
</w:p>